Repository Radformation/conjuror: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run Tests

bitbucket-pipelines.yml:

image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim

definitions:
  caches:
    precommit: ~/.cache/pre-commit
    nox-build-docs: .nox/build_docs

  steps:
    - step: &bb-runner
        runs-on:
          - self.hosted
          - linux
          - radmachine

    - step: &pre-commit-checks
        name: Pre-commit Checks
        <<: *bb-runner
        script:
          - apt-get update
          - apt-get -y install git
          - uvx pre-commit run --all-files
        caches:
          - precommit

    - step: &build-docs
        name: Build Docs
        <<: *bb-runner
        condition:
          changesets:
            includePaths:
              - "**.py"
              - "docs/**"
        script:
          - pip install nox
          - nox -s build_docs

    - step: &run-tests
        name: Run Tests
        <<: *bb-runner
        condition:
          changesets:
            includePaths:
              - "**.py"
              - "pyproject.toml"
        script:
          - uv pip install .[developer] --system
          - uv run pytest --junitxml=./test-reports/conjuror_results.xml

pipelines:

  custom:
    publish-package:
      - step:
          name: Build & Push to PYPI
          <<: *bb-runner
          image: ghcr.io/astral-sh/uv:bookworm
          script:
            - uv build
            - uv publish  # token is an env var

  pull-requests:
    '**':
      - step: *pre-commit-checks
      - parallel:
          - step: *build-docs
          - step: *run-tests

Documentation: conjuror overview
  docs/source/index.rst
  docs/source/overview.rst
Due: Build Docs

Clean up
  docs/source/overview.rst
Due: Build Docs

Added section to create plans
  docs/source/index.rst
  docs/source/overview.rst
  docs/source/plans/create_plans.rst
  docs/source/plans/overview.rst
Due: Build Docs

Pre-commit fixes
  docs/source/index.rst
Due: Build Docs

Trying to fix a pipeline error. Maybe Filename case mismatch.
  README.rst
Due: none

Documentation for the plan generator.
  docs/source/overview.rst
  docs/source/plans/create_plans.rst
  docs/source/plans/images/new_qa_plan.gif
  docs/source/plans/overview.rst
Due: Build Docs

Ruff formatt.
  docs/source/index.rst
  docs/source/plans/create_plans.rst
  docs/source/plans/overview.rst
Due: Build Docs

Polish.
  docs/source/index.rst
  docs/source/plans/users_guide.rst
Due: Build Docs

Polish.
  docs/source/plans/users_guide.rst
Due: Build Docs

Added API section.
  conjuror/plans/plan_generator_base.py
  conjuror/plans/plan_generator_halcyon.py
  docs/source/conf.py
  docs/source/plans/users_guide.rst
Due: Build Docs

Ruff-format
  conjuror/plans/plan_generator_base.py
  docs/source/plans/users_guide.rst
Due: Build Docs

Fix API references
  docs/source/conf.py
Due: Build Docs

Merged in precommit-lib (pull request #24)
  .pre-commit-config.yaml
  pyproject.toml
  readme.rst
Due: Run Tests

Merged in task/docu_plan_generator (pull request #23)
  README.rst
  docs/source/index.rst
  docs/source/overview.rst
Due: Build Docs

Polish based on PR review.
  docs/source/overview.rst
  docs/source/plans/overview.rst
  docs/source/plans/users_guide.rst
Due: Build Docs

Polish based on PR review.
  docs/source/plans/users_guide.rst
Due: Build Docs

Merged in task/docu_plan_generator2 (pull request #25)
  docs/source/index.rst
  docs/source/overview.rst
  docs/source/plans/images/new_qa_plan.gif
  docs/source/plans/overview.rst
  docs/source/plans/users_guide.rst
Due: Build Docs

Merged in task/list-procedures (pull request #27)
  conjuror/plans/plan_generator_base.py
  conjuror/plans/plan_generator_halcyon.py
  conjuror/plans/plan_generator_truebeam.py
  docs/source/plans/users_guide.rst
  tests/test_plan_generator.py
Due: Build Docs

Merged in task/plot-fluence (pull request #28)
  conjuror/plans/plan_generator_base.py
  conjuror/plans/plan_generator_truebeam.py
  tests/test_plan_generator.py
Due: none

Merged in plotly_fluence (pull request #29)
  conjuror/plans/fluence.py
  tests/test_plan_generator.py
Due: none

Merged in task/use-generics-for-class-subtypes (pull request #31)
  conjuror/plans/plan_generator_base.py
  conjuror/plans/plan_generator_halcyon.py
  conjuror/plans/plan_generator_truebeam.py
Due: none

Use factory to create machine.
  conjuror/plans/halcyon.py
  conjuror/plans/plan_generator.py
  conjuror/plans/truebeam.py
  tests/test_plan_generator.py
Due: none

Fix docu.
  docs/source/index.rst
  docs/source/plans/users_guide.rst
Due: Build Docs

Remove deepcopy
  conjuror/plans/plan_generator.py
Due: none

Refactor test structure.
  tests/test_halcyon.py
  tests/test_mlc.py
  tests/test_plan_generator.py
  tests/test_truebeam.py
Due: none

Plot beam fluence.
  conjuror/plans/fluence.py
  conjuror/plans/plan_generator.py
  tests/test_plan_generator.py
Due: none

Plot MLC positions.
  conjuror/plans/plan_generator.py
  tests/test_plan_generator.py
Due: none

Move import outside the loop
  conjuror/plans/fluence.py
Due: none

Refactor MLCShaper into MLCShaper and MLCModulator
  conjuror/plans/halcyon.py
  conjuror/plans/mlc.py
  conjuror/plans/truebeam.py
  tests/test_mlc.py
Due: none

Polish.
  conjuror/plans/mlc.py
Due: none

Refactor open field
  conjuror/plans/truebeam.py
  tests/test_truebeam.py
Due: none

Docu.
  conjuror/plans/truebeam.py
  docs/source/index.rst
  docs/source/plans/overview.rst
  docs/source/plans/truebeam.rst
Due: Build Docs

Refactor procedures.
  conjuror/plans/plan_generator.py
  conjuror/plans/truebeam.py
  tests/test_plan_generator.py
  tests/test_truebeam.py
Due: none

Fix Halcyon
  conjuror/plans/halcyon.py
Due: none

Fix tests.
  conjuror/plans/truebeam.py
  tests/test_mlc.py
  tests/test_truebeam.py
Due: none

Minor fixes.
  conjuror/plans/plan_generator.py
  conjuror/plans/truebeam.py
  tests/test_truebeam.py
Due: none

Polish.
  conjuror/plans/truebeam.py
Due: none

MLC Transmission.
  conjuror/plans/mlc.py
  conjuror/plans/truebeam.py
  tests/test_mlc.py
  tests/test_truebeam.py
Due: none

Use separate mu for the reference and for the transmission.
  conjuror/plans/truebeam.py
Due: none

Merged in task/use-factory-method (pull request #32)
  conjuror/plans/halcyon.py
  conjuror/plans/plan_generator.py
  conjuror/plans/truebeam.py
  docs/source/index.rst
  docs/source/plans/users_guide.rst
  tests/test_plan_generator.py
Due: Build Docs
