Repository Radformation/conjuror: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run Tests

bitbucket-pipelines.yml:

image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim

definitions:
  caches:
    precommit: ~/.cache/pre-commit
    nox-build-docs: .nox/build_docs

  steps:
    - step: &bb-runner
        runs-on:
          - self.hosted
          - linux
          - radmachine

    - step: &pre-commit-checks
        name: Pre-commit Checks
        <<: *bb-runner
        script:
          - apt-get update
          - apt-get -y install git
          - uvx pre-commit run --all-files
        caches:
          - precommit

    - step: &build-docs
        name: Build Docs
        <<: *bb-runner
        condition:
          changesets:
            includePaths:
              - "**.py"
              - "docs/**"
        script:
          - pip install nox
          - nox -s build_docs

    - step: &run-tests
        name: Run Tests
        <<: *bb-runner
        condition:
          changesets:
            includePaths:
              - "**.py"
              - "pyproject.toml"
        script:
          - uv pip install .[developer] --system
          - uv run pytest --junitxml=./test-reports/conjuror_results.xml

pipelines:

  custom:
    publish-package:
      - step:
          name: Build & Push to PYPI
          <<: *bb-runner
          image: ghcr.io/astral-sh/uv:bookworm
          script:
            - uv build
            - uv publish  # token is an env var

  pull-requests:
    '**':
      - step: *pre-commit-checks
      - parallel:
          - step: *build-docs
          - step: *run-tests

Docu: MLC Speed.
  conjuror/plans/truebeam.py
  docs/source/plans/truebeam.rst
  tests/test_truebeam.py
Due: Build Docs

Ensure clone approach does not mutate original dataset.
  conjuror/plans/plan_generator.py
  tests/test_plan_generator.py
Due: none

Add LabeledStrEnum for user labels in the UI.
  conjuror/plans/halcyon.py
  conjuror/plans/machine.py
  conjuror/plans/truebeam.py
  conjuror/utils.py
Due: none

Add versioning structure and changelog
  conjuror/__init__.py
  conjuror/version.py
  docs/source/changelog.rst
  docs/source/conf.py
  docs/source/index.rst
  pyproject.toml
Due: Build Docs, Run Tests

Remove hatch due to error in build.
  pyproject.toml
Due: Run Tests

Fix beam manufacturer.
  conjuror/plans/beam.py
  conjuror/plans/plan_generator.py
  docs/source/plans/users_guide.rst
  tests/test_plan_generator.py
Due: Build Docs

Added change log entry.
  docs/source/changelog.rst
Due: Build Docs

Merged in modern-uv (pull request #106)
  .readthedocs.yaml
  README.rst
  bitbucket-pipelines.yml
  noxfile.py
  pyproject.toml
Due: Build Docs, Run Tests

Removed X and Y from blds.
  conjuror/plans/truebeam.py
  conjuror/version.py
  docs/source/changelog.rst
Due: Build Docs

Typo
  docs/source/changelog.rst
Due: Build Docs

Added tests.
  tests/test_truebeam.py
Due: none

Typo.
  tests/test_truebeam.py
Due: none

Apply beam overrides to plan.
  conjuror/plans/beam_overrides.py
  conjuror/plans/plan_generator.py
  tests/test_beam_overrides.py
Due: none

Add validation for user-provide overrides to Beam Name and Couch Angle.
  conjuror/plans/beam_overrides.py
  conjuror/plans/plan_generator.py
  tests/test_beam_overrides.py
Due: none

Add support for per-procedure beam override allowlist + override value validators.
  conjuror/plans/beam_overrides.py
  conjuror/plans/plan_generator.py
  tests/test_beam_overrides.py
Due: none

Bump version, add to release notes, update docs.
  conjuror/version.py
  docs/source/changelog.rst
  docs/source/plans/users_guide.rst
Due: Build Docs

Remove beam names from procedures.
  conjuror/plans/halcyon.py
  conjuror/plans/truebeam.py
  docs/source/changelog.rst
  tests/test_halcyon.py
  tests/test_truebeam.py
Due: Build Docs

Use pydicom for Beam Override validation
  conjuror/plans/beam_overrides.py
  tests/test_beam_overrides.py
Due: none

Use more structured errors for beam override errors.
  conjuror/plans/beam_overrides.py
  tests/test_beam_overrides.py
Due: none

PR comments; bump version, remove unnecessary `None` return types from tests.
  conjuror/version.py
  docs/source/changelog.rst
  tests/test_beam_overrides.py
Due: Build Docs

Remove private tag.
  conjuror/plans/plan_generator.py
  docs/source/changelog.rst
  tests/test_plan_generator.py
Due: Build Docs

Fix test.
  tests/test_plan_generator.py
Due: none

Update version.
  conjuror/version.py
Due: none

Fix bug with non-standard fluence modes in Beam.from_dicom.
  conjuror/plans/beam.py
  conjuror/version.py
  docs/source/changelog.rst
  tests/test_beam.py
Due: Build Docs

Accept Beam Names up to 64 characters in length.
  conjuror/plans/beam.py
  conjuror/version.py
  docs/source/changelog.rst
  tests/test_beam.py
Due: Build Docs

PR comment; add in-line comment noting the source of BeamName length.
  conjuror/plans/beam.py
Due: none

Optimize fluence generation by clipping to static jaws
  conjuror/plans/beam.py
  conjuror/version.py
  docs/source/changelog.rst
Due: Build Docs

Limit optimization to only when the jaws are static.
  conjuror/plans/beam.py
  tests/test_beam.py
Due: none

Couple of minor bug fixes for Plan Generator UI.
  conjuror/plans/halcyon.py
  conjuror/plans/truebeam.py
Due: none
