Repository Radformation/conjuror: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run Tests

bitbucket-pipelines.yml:

image: ghcr.io/astral-sh/uv:python3.11-bookworm-slim

definitions:
  caches:
    precommit: ~/.cache/pre-commit
    nox-build-docs: .nox/build_docs

  steps:
    - step: &bb-runner
        runs-on:
          - self.hosted
          - linux
          - radmachine

    - step: &pre-commit-checks
        name: Pre-commit Checks
        <<: *bb-runner
        script:
          - apt-get update
          - apt-get -y install git
          - uvx pre-commit run --all-files
        caches:
          - precommit

    - step: &build-docs
        name: Build Docs
        <<: *bb-runner
        condition:
          changesets:
            includePaths:
              - "**.py"
              - "docs/**"
        script:
          - pip install nox
          - nox -s build_docs

    - step: &run-tests
        name: Run Tests
        <<: *bb-runner
        condition:
          changesets:
            includePaths:
              - "**.py"
              - "pyproject.toml"
        script:
          - uv pip install .[developer] --system
          - uv run pytest --junitxml=./test-reports/conjuror_results.xml

pipelines:

  custom:
    publish-package:
      - step:
          name: Build & Push to PYPI
          <<: *bb-runner
          image: ghcr.io/astral-sh/uv:bookworm
          script:
            - uv build
            - uv publish  # token is an env var

  pull-requests:
    '**':
      - step: *pre-commit-checks
      - parallel:
          - step: *build-docs
          - step: *run-tests

Draft paper.
  paper.bib
  paper.md
Due: none

Polish.
  paper.md
Due: none

Create plan using "import-metadata" strategy.
  conjuror/plans/halcyon.py
  conjuror/plans/machine.py
  conjuror/plans/plan_generator.py
  conjuror/plans/truebeam.py
  docs/source/plans/users_guide.rst
  tests/test_plan_generator.py
Due: Build Docs

Fix test.
  tests/test_plan_generator.py
Due: none

Remove clone option.
  conjuror/plans/plan_generator.py
  docs/source/plans/users_guide.rst
  tests/test_plan_generator.py
Due: Build Docs

Create plan from scratch.
  conjuror/plans/plan_generator.py
  tests/test_plan_generator.py
Due: none

Rename method.
  conjuror/plans/plan_generator.py
Due: none

Fix imports
  conjuror/images/layers.py
  conjuror/images/simulators.py
  conjuror/plans/plan_generator.py
Due: none

Port to pytest by cursor.
  tests/test_beam.py
  tests/test_halcyon.py
  tests/test_image_generator.py
  tests/test_mlc.py
  tests/test_plan_generator.py
  tests/test_truebeam.py
Due: none

Use @pytest.fixture(autouse=True) instead of @pytest.fixture(scope="class")
  tests/test_mlc.py
Due: none

Replace numpy.testing with pytest
  tests/test_beam.py
  tests/test_plan_generator.py
  tests/test_truebeam.py
Due: none

Update .gitignore to exclude some unrelated files.
  .gitignore
Due: none

Prevent showing plots when running tests.
  tests/__init__.py
Due: none

Sync dependencies with RadMachine so conjuror can be installed without conflicts.
  conjuror/plans/plan_generator.py
  pyproject.toml
Due: Run Tests

PR comment; add back HIDE_PLOTS env var.
  tests/__init__.py
Due: none

Polish
  paper.md
Due: none

Moved paper file to own folder.
  joss/paper.bib
  joss/paper.md
  joss/paper.pdf
Due: none

Add creating generator from_machine
  docs/source/plans/users_guide.rst
Due: Build Docs

Add GitHub mirror push on master merge
  bitbucket-pipelines.yml
Due: none

Add custom pipeline for manual GitHub push testing
  bitbucket-pipelines.yml
Due: none

Move pre-commit to dev dependency.
  pyproject.toml
Due: Run Tests

DLG Procedure.
  conjuror/plans/truebeam.py
  docs/source/plans/truebeam.rst
  tests/test_truebeam.py
Due: Build Docs

Modified default gaps.
  conjuror/plans/truebeam.py
Due: none

Changes based in PR review.
  joss/paper.bib
  joss/paper.md
  joss/paper.pdf
Due: none

Fix installing package via git.
  pyproject.toml
Due: Run Tests

Merged in infra/add-github-mirror-push (pull request #68)
  bitbucket-pipelines.yml
Due: none

Hard word wrap.
  docs/source/plans/overview.rst
  docs/source/plans/truebeam.rst
  docs/source/plans/users_guide.rst
  docs/source/plans/varian_reference_warning.rst
Due: Build Docs

Hard word wrap.
  joss/paper.md
Due: none

Port Matplotlib to plotly.
  conjuror/plans/beam.py
  conjuror/plans/truebeam.py
  pyproject.toml
  tests/test_beam.py
Due: Run Tests

Remove from __init__
  tests/__init__.py
Due: none

Orcid update.
  joss/paper.md
Due: none

Rename gap_size to gap_width
  conjuror/plans/truebeam.py
  tests/test_truebeam.py
Due: none

Switch Enums to StrEnums to make it easier to load/save procedures.
  conjuror/plans/halcyon.py
  conjuror/plans/machine.py
  conjuror/plans/truebeam.py
Due: none

Fix jaw positions.
  conjuror/plans/truebeam.py
  tests/test_truebeam.py
Due: none

Add open field documentation.
  docs/source/plans/truebeam.rst
Due: Build Docs

Add plots to documentation.
  docs/source/conf.py
  docs/source/plans/truebeam.rst
  pyproject.toml
Due: Build Docs, Run Tests

Clarify MLC Alignment Modes.
  docs/source/plans/truebeam.rst
Due: Build Docs

Fix casting between Rectangle modes.
  conjuror/plans/truebeam.py
Due: none
