Repository Radformation/conjuror: changes, and which Bitbucket steps are due for each by the changed paths.
All: Build Docs, Run Tests

Build Docs:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - pip install nox
  - nox -s build_docs

Run Tests:
  runs-on:
  - self.hosted
  - linux
  - radmachine
  script:
  - uv pip install .[developer] --system
  - uv run pytest --junitxml=./test-reports/conjuror_results.xml

Update truebeam documentation to clarify MLC mode behavior when using jaw-defined fields.
  docs/source/plans/truebeam.rst
Due: Build Docs

Polish text.
  docs/source/plans/truebeam.rst
Due: Build Docs

MLC Tx documentation.
  docs/source/plans/truebeam.rst
Due: Build Docs

Add Dosimetric Leaf Gap procedure documentation to trueBeam.rst
  docs/source/plans/truebeam.rst
Due: Build Docs

Typo.
  docs/source/plans/truebeam.rst
Due: Build Docs

Refactor WL to reuse OpenField logic.
  conjuror/plans/truebeam.py
  tests/test_truebeam.py
Due: none

Fox docu.
  docs/source/plans/truebeam.rst
Due: Build Docs

Documentation for WL.
  docs/source/plans/truebeam.rst
Due: Build Docs

Added image to paper.
  joss/open_field_mlc_and_fluence.png
  joss/paper.md
  joss/paper.pdf
Due: none

Fix MU for MLC Tx bank.
  conjuror/plans/truebeam.py
  docs/source/plans/truebeam.rst
Due: Build Docs

Polish.
  docs/source/plans/truebeam.rst
Due: Build Docs

Plot jaws on top
  conjuror/plans/beam.py
Due: none

Switch from dataclasses to pydantic.
  conjuror/plans/halcyon.py
  conjuror/plans/plan_generator.py
  conjuror/plans/truebeam.py
  pyproject.toml
  tests/test_truebeam.py
Due: Run Tests

have joss paper push to GH
  bitbucket-pipelines.yml
Due: none

Add autodocs for pydantic.
  conjuror/plans/halcyon.py
  conjuror/plans/truebeam.py
  docs/source/conf.py
  docs/source/plans/truebeam.rst
  docs/source/plans/users_guide.rst
  pyproject.toml
Due: Build Docs, Run Tests

Fix couch positions.
  conjuror/plans/truebeam.py
Due: none

Fix types.
  conjuror/plans/truebeam.py
Due: none

Merged in rtd-setup (pull request #85)
  .readthedocs.yaml
  docs/requirements-rtd.txt
  docs/source/plans/truebeam.rst
  noxfile.py
  pyproject.toml
Due: Build Docs, Run Tests

Removed pdf (meant for internal review only).
  joss/paper.pdf
Due: none

Fix argument range.
  conjuror/plans/truebeam.py
  tests/test_truebeam.py
Due: none

Reuse machine name.
  conjuror/plans/plan_generator.py
Due: none

Fix from_machine
  conjuror/plans/plan_generator.py
Due: none

Polish.
  tests/test_truebeam.py
Due: none

Name Conjuror where applicable.
  conjuror/plans/beam.py
  conjuror/plans/plan_generator.py
Due: none

Add units to parameters.
  conjuror/plans/truebeam.py
Due: none

Format HTML output
  docs/requirements-rtd.txt
  docs/source/conf.py
  docs/source/plans/truebeam.rst
  docs/source/sphinxext/__init__.py
  docs/source/sphinxext/toc_filters.py
  pyproject.toml
Due: Build Docs, Run Tests

Add units to title and remove json-schema
  conjuror/plans/truebeam.py
  docs/source/conf.py
  docs/source/sphinxext/field_titles.py
Due: Build Docs

Move degrees to title and remove json schema
  conjuror/plans/truebeam.py
Due: none

Move from "docs/requirements-rtd".txt to ".[docs]"
  .readthedocs.yaml
  docs/requirements-rtd.txt
  noxfile.py
Due: Build Docs, Run Tests

Add verbose_name attribute to QAProcedures
  conjuror/plans/halcyon.py
  conjuror/plans/truebeam.py
Due: none

Switch from ClassVar to ConfigDict for verbose names.
  conjuror/plans/halcyon.py
  conjuror/plans/truebeam.py
Due: none

Doc: picket fence.
  conjuror/plans/truebeam.py
  docs/source/plans/truebeam.rst
Due: Build Docs

Typo.
  conjuror/plans/truebeam.py
Due: none

Clean-up vmat procedures.
  conjuror/plans/truebeam.py
  tests/test_truebeam.py
Due: none

Fix Manufacturer.
  conjuror/plans/plan_generator.py
Due: none

Revert to clonse_ds approach.
  conjuror/plans/plan_generator.py
Due: none

Fix test.
  tests/test_plan_generator.py
Due: none

Docu: Dose rate
  conjuror/plans/truebeam.py
  docs/source/plans/truebeam.rst
  tests/test_truebeam.py
Due: Build Docs

Path conditions:
  Build Docs: any of: **.py, docs/**
  Run Tests: any of: **.py, pyproject.toml
